@{
    var markets = ViewBag.Markets as List<String>;
}

@if (markets != null)
{
    

    <h1>Out Supermarkets</h1>
    <h2>There are @markets.Count markets</h2>
    @foreach (var market in markets)
    {
        <p>@market</p>
    }

}
